# Projeto - Classificação - Inclusão Financeira na África

## Considerações iniciais

A inclusão financeira continua a ser um dos principais obstáculos ao desenvolvimento econômico e humano na África. Por exemplo, no Quênia, Ruanda, Tanzânia e Uganda, apenas 9,1 milhões de adultos (14% dos adultos), têm acesso ou usam uma conta bancária comercial.

Em 2008, o nível de inclusão financeira na África Subsaariana era de pouco mais de 23%. Em 2018, esse número quase dobrou. No Togo, Mazamesso Assih, ministro de finanças, coordena uma estratégia de inclusão financeira com bancos parceiros. Ele afirma que garantir acesso a serviços financeiros básicos para a população, é fundamental para impulsionar a economia Africana.

Em 2022, conforme destacado no último relatório do Banco Central da África Ocidental, atingiu-se uma das mais altas taxas de inclusão financeira da região, próxima de 82%. Uma parcela significativa desse aumento veio do aumento dos serviços financeiros digitais.

Assih afirma também, que existem três razões principais pelas quais as nações africanas devem apostar na inclusão financeira:

**1)** Tornar os serviços financeiros mais acessíveis promove o empoderamento das pessoas mais vulneráveis, especialmente as mulheres.

**2)** Combater redes criminosas, passar de uma economia exclusivamente monetária para uma infraestrutura financeira digital torna mais fácil para as autoridades rastrear transações e lidar com contrabandistas e traficantes.

**3)** impulsionará a conectividade dos setores público e privado para um crescimento sustentável, apoiando as start-ups africanas.

## O Problema de Negócio

O objetivo desta competição é criar um modelo de aprendizado de máquina para prever quais indivíduos vão ou não utilizar uma conta bancária. Os modelos e soluções desenvolvidos devem fornecer uma indicação do estado da inclusão financeira no Quênia, Ruanda, Tanzânia e Uganda.

## Descrição do dados

Os dados necessários podem ser encontrados no [repositório da atividade](https://www.kaggle.com/c/inclusao-financeira-na-africa). No arquivo *train.csv* você encontrará:


- **country**: Pais de Origem.
- **year**: Ano da Inclusão
- **uniqueid**: Id do Usuário.
- **bank_account**: Possui ou Não a Conta no Banco.
- **location_type**: Tipo de Localidade (Rural...)
- **cellphone_access**: Possui ou Não Celular.
- **household_size**: Tamanho da Casa.
- **age_of_respondent**: Idade do Usuário.
- **gender_of_respondent**: Gênero do Usuário.
- **relationship_with_head**: Status com o Dono da Conta.
- **marital_status**: Situação Civil.
- **education_level**: Nível de Educação.
- **job_type**: - Tipo de Trabalho.

# Etapas do Projeto

1. Análise exploratória 
2. Preparação e limpeza dos dados
3. Seleção de atributos
4. Construção do modelo
5. Avaliação do modelo
6. Otimização do modelo

# Desenvolvimento do Projeto

## Imports

In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import mean_squared_error as MSE
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV

## Importando dados

In [28]:
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')

## Análise exploratória

In [19]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11762 entries, 0 to 11761
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   country                 11762 non-null  object
 1   year                    11762 non-null  int64
 2   uniqueid                11762 non-null  object
 3   location_type           11762 non-null  object
 4   cellphone_access        11762 non-null  object
 5   household_size          11762 non-null  int64
 6   age_of_respondent       11762 non-null  int64
 7   gender_of_respondent    11762 non-null  object
 8   relationship_with_head  11762 non-null  object
 9   marital_status          11762 non-null  object
 10  education_level         11762 non-null  object
 11  job_type                11762 non-null  object
 12  uid                     11762 non-null  object
 13  bank_account            11762 non-null  object
dtypes: int64(3), object(11)
memory usage: 1.3+ MB

In [30]:
df_train.shape

(11762, 14)

In [26]:
df_train.head(50)

,country,year,uniqueid,location_type,cellphone_access,household_size,age_of_respondent,gender_of_respondent,relationship_with_head,marital_status,education_level,job_type,uid,bank_account
0,Rwanda,2016,uniqueid_4858,Rural,Yes,6,45,Male,Head of Household,Divorced/Seperated,Primary education,Farming and Fishing,Rwanda_uniqueid_4858,No
1,Tanzania,2017,uniqueid_3015,Urban,No,4,33,Female,Head of Household,Single/Never Married,Primary education,Self employed,Tanzania_uniqueid_3015,No
2,Rwanda,2016,uniqueid_103,Rural,Yes,7,43,Male,Head of Household,Married/Living together,Secondary education,Farming and Fishing,Rwanda_uniqueid_103,No
3,Rwanda,2016,uniqueid_4582,Rural,No,6,35,Female,Head of Household,Married/Living together,Primary education,Farming and Fishing,Rwanda_uniqueid_4582,No
4,Tanzania,2017,uniqueid_2854,Urban,Yes,2,30,Male,Head of Household,Single/Never Married,Primary education,Informally employed,Tanzania_uniqueid_2854,No
5,Kenya,2018,uniqueid_5704,Urban,Yes,2,57,Female,Spouse,Married/Living together,Vocational/Specialised training,Self employed,Kenya_uniqueid_5704,No
6,Tanzania,2017,uniqueid_4831,Urban,Yes,1,25,Female,Head of Household,Divorced/Seperated,Tertiary education,Informally employed,Tanzania_uniqueid_4831,No
7,Tanzania,2017,uniqueid_3231,Rural,Yes,3,41,Female,Head of Household,Married/Living together,Primary education,Informally employed,Tanzania_uniqueid_3231,No
8,Rwanda,2016,uniqueid_390,Rural,Yes,5,33,Male,Head of Household,Married/Living together,Primary education,Self employed,Rwanda_uniqueid_390,No
9,Tanzania,2017,uniqueid_4088,Urban,Yes,2,35,Female,Spouse,Single/Never Married,Primary education,Self employed,Tanzania_uniqueid_4088,No
10,Tanzania,2017,uniqueid_6624,Urban,Yes,2,58,Male,Head of Household,Single/Never Married,Primary education,Self employed,Tanzania_uniqueid_6624,No
11,Tanzania,2017,uniqueid_325,Urban,No,2,20,Female,Spouse,Single/Never Married,No formal education,Self employed,Tanzania_uniqueid_325,No
12,Rwanda,2016,uniqueid_675,Rural,Yes,4,25,Female,Spouse,Married/Living together,No formal education,Farming and Fishing,Rwanda_uniqueid_675,No
13,Uganda,2018,uniqueid_1618,Rural,No,5,28,Male,Head of Household,Married/Living together,Primary education,No Income,Uganda_uniqueid_1618,No
14,Rwanda,2016,uniqueid_2784,Rural,Yes,7,37,Male,Head of Household,Married/Living together,Primary education,Informally employed,Rwanda_uniqueid_2784,No
15,Rwanda,2016,uniqueid_7107,Rural,Yes,3,51,Female,Head of Household,Widowed,Primary education,Farming and Fishing,Rwanda_uniqueid_7107,No
16,Kenya,2018,uniqueid_4792,Rural,No,1,70,Female,Head of Household,Widowed,No formal education,Other Income,Kenya_uniqueid_4792,Yes
17,Kenya,2018,uniqueid_4201,Rural,Yes,4,59,Male,Head of Household,Married/Living together,Vocational/Specialised training,Informally employed,Kenya_uniqueid_4201,No
18,Tanzania,2017,uniqueid_6554,Urban,Yes,2,30,Female,Spouse,Single/Never Married,No formal education,Remittance Dependent,Tanzania_uniqueid_6554,No
19,Rwanda,2016,uniqueid_2018,Rural,Yes,4,21,Female,Child,Single/Never Married,Secondary education,Remittance Dependent,Rwanda_uniqueid_2018,No
20,Kenya,2018,uniqueid_320,Rural,Yes,6,49,Male,Head of Household,Married/Living together,Primary education,Informally employed,Kenya_uniqueid_320,No
21,Rwanda,2016,uniqueid_3365,Rural,Yes,4,43,Female,Spouse,Married/Living together,No formal education,Informally employed,Rwanda_uniqueid_3365,No
22,Tanzania,2017,uniqueid_2662,Urban,Yes,3,50,Male,Head of Household,Single/Never Married,Secondary education,Informally employed,Tanzania_uniqueid_2662,No
23,Rwanda,2016,uniqueid_4500,Rural,No,2,57,Female,Spouse,Married/Living together,Primary education,Farming and Fishing,Rwanda_uniqueid_4500,No
24,Tanzania,2017,uniqueid_2187,Urban,Yes,1,18,Female,Head of Household,Divorced/Seperated,Primary education,Self employed,Tanzania_uniqueid_2187,No
25,Rwanda,2016,uniqueid_5721,Rural,Yes,6,53,Female,Head of Household,Married/Living together,Primary education,Formally employed Private,Rwanda_uniqueid_5721,No
26,Kenya,2018,uniqueid_5914,Urban,Yes,1,32,Male,Head of Household,Married/Living together,Primary education,Self employed,Kenya_uniqueid_5914,No
27,Kenya,2018,uniqueid_5615,Urban,Yes,3,34,Female,Head of Household,Married/Living together,Primary education,Remittance Dependent,Kenya_uniqueid_5615,No
28,Rwanda,2016,uniqueid_8674,Urban,Yes,7,35,Female,Spouse,Married/Living together,Primary education,Farming and Fishing,Rwanda_uniqueid_8674,No
29,Kenya,2018,uniqueid_5494,Rural,Yes,2,35,Female,Head of Household,Single/Never Married,Secondary education,Other Income,Kenya_uniqueid_5494,Yes
30,Rwanda,2016,uniqueid_3341,Rural,No,3,22,Female,Spouse,Married/Living together,No formal education,Informally employed,Rwanda_uniqueid_3341,No
31,Uganda,2018,uniqueid_751,Rural,Yes,7,25,Female,Spouse,Married/Living together,Primary education,Self employed,Uganda_uniqueid_751,No
32,Kenya,2018,uniqueid_331,Rural,No,6,31,Female,Head of Household,Married/Living together,No formal education,Farming and Fishing,Kenya_uniqueid_331,No
33,Rwanda,2016,uniqueid_3911,Rural,Yes,2,24,Male,Head of Household,Married/Living together,Secondary education,Other Income,Rwanda_uniqueid_3911,No
34,Rwanda,2016,uniqueid_2937,Rural,No,6,39,Female,Spouse,Married/Living together,Primary education,Farming and Fishing,Rwanda_uniqueid_2937,No
35,Rwanda,2016,uniqueid_4103,Rural,Yes,8,35,Female,Spouse,Married/Living together,Primary education,Farming and Fishing,Rwanda_uniqueid_4103,No
36,Kenya,2018,uniqueid_3117,Rural,Yes,1,41,Male,Head of Household,Single/Never Married,Primary education,Informally employed,Kenya_uniqueid_3117,Yes
37,Tanzania,2017,uniqueid_5957,Urban,Yes,1,27,Male,Head of Household,Divorced/Seperated,Primary education,Formally employed Private,Tanzania_uniqueid_5957,No
38,Kenya,2018,uniqueid_3332,Urban,Yes,1,24,Male,Head of Household,Single/Never Married,Primary education,Formally employed Private,Kenya_uniqueid_3332,No
39,Kenya,2018,uniqueid_614,Urban,Yes,4,39,Male,Head of Household,Married/Living together,Secondary education,Self employed,Kenya_uniqueid_614,No
40,Uganda,2018,uniqueid_1925,Rural,No,8,35,Female,Spouse,Married/Living together,Primary education,Self employed,Uganda_uniqueid_1925,No
41,Rwanda,2016,uniqueid_1512,Rural,No,5,21,Male,Child,Single/Never Married,Primary education,Informally employed,Rwanda_uniqueid_1512,No
42,Kenya,2018,uniqueid_723,Rural,No,3,56,Male,Head of Household,Married/Living together,Secondary education,Farming and Fishing,Kenya_uniqueid_723,Yes
43,Rwanda,2016,uniqueid_7103,Rural,Yes,8,19,Female,Child,Single/Never Married,Secondary education,Farming and Fishing,Rwanda_uniqueid_7103,No
44,Kenya,2018,uniqueid_5807,Rural,Yes,2,50,Female,Spouse,Married/Living together,No formal education,Farming and Fishing,Kenya_uniqueid_5807,No
45,Rwanda,2016,uniqueid_91,Rural,Yes,3,46,Female,Head of Household,Widowed,Primary education,Self employed,Rwanda_uniqueid_91,No
46,Rwanda,2016,uniqueid_7560,Urban,Yes,3,23,Female,Parent,Single/Never Married,Secondary education,Farming and Fishing,Rwanda_uniqueid_7560,No
47,Tanzania,2017,uniqueid_3994,Rural,No,2,35,Female,Spouse,Single/Never Married,Primary education,Informally employed,Tanzania_uniqueid_3994,No
48,Rwanda,2016,uniqueid_4974,Rural,Yes,1,42,Male,Head of Household,Divorced/Seperated,Primary education,Self employed,Rwanda_uniqueid_4974,No
49,Tanzania,2017,uniqueid_1042,Urban,Yes,2,28,Male,Head of Household,Single/Never Married,Primary education,Informally employed,Tanzania_uniqueid_1042,No

In [22]:
df_train.describe()

               year  household_size  age_of_respondent
count  11762.000000    11762.000000       11762.000000
mean    2016.983336        3.793913          38.602364
std        0.848669        2.225423          16.334624
min     2016.000000        1.000000          16.000000
25%     2016.000000        2.000000          26.000000
50%     2017.000000        3.000000          35.000000
75%     2018.000000        5.000000          48.000000
max     2018.000000       21.000000         100.000000